<header class="text-bg-primary d-flex justify-content-between p-3">
  <div class="logo">
    <a [routerLink]="['/']" class="align-middle link-light link-underline-none link-underline-opacity-0">Questionnaire system :)</a>
  </div>
  <div *ngIf="!hasAuthenticated" class="d-flex justify-content-end">
    <a [routerLink]="['/registration']" class="btn btn-light">Регистрация</a>
    <a [routerLink]="['/login']" class="ms-3 btn btn-light">Вход</a>
  </div>
  <div *ngIf="hasAuthenticated">
    <a [routerLink]="['/profile', user?.id]" class="btn btn-light">Профиль</a>
    <button type="button" class="btn btn-danger ms-3" (click)="logout()">Выйти</button>
  </div>
</header>
