<section class="container">
  <div class="row">
    <div class="col-7 bg-light">
      <h1>{{questionnaire?.name}}</h1>
      <p>Автор: <a [routerLink]="['/profile', questionnaire?.authorId]">{{questionnaire?.authorName}}</a></p>
      <p>{{questionnaire?.question}}</p>
    </div>
    <div class="col-5 bg-light">
      <h2 *ngIf="!hasAnswered">Выберите ответ:</h2>
      <h2 *ngIf="hasAnswered">Вы уже проголосовали</h2>
<!--      <ul>-->
<!--        <li *ngFor="let option of questionnaire?.options">-->
<!--          {{option.text}}-->
<!--        </li>-->
<!--      </ul>-->
      <form [formGroup]="optionsFormGroup" (submit)="submitVote()">
        <div *ngIf="questionnaire?.multiple">
          <div *ngFor="let option of questionnaire?.options">
            <input type="checkbox" id="option{{option.id}}" [value]="option.id" [disabled]="hasAnswered" (change)="controlOnChange($event)">
            <label for="option{{option.id}}">{{option.text}}</label>
          </div>
        </div>
        <div *ngIf="!questionnaire?.multiple">
          not multiple
        </div>
        <button type="submit" [disabled]="hasAnswered">Проголосовать</button>
      </form>
    </div>
  </div>
</section>
