<div class="row justify-content-center m-4">
  <div class="text-bg-light col-6 d-flex flex-column align-items-center p-3">
    <h2>Регистрация</h2>
    <h3>
      <a href="/">Questionnaire system :)</a>
    </h3>
    <form [formGroup]="registrationForm" (submit)="submitRegistration()" class="d-flex flex-column align-items-center">
      <div>
        <label class="form-label" for="username">Имя пользователя:</label>
        <input class="form-control mb-2" type="text" id="username" formControlName="username" placeholder="Имя пользователя" required>
      </div>
      <div>
        <label class="form-label" for="password">Пароль:</label>
        <input class="form-control mb-2" type="password" id="password" formControlName="password" placeholder="Пароль" required>
      </div>
      <div>
        <label class="form-label" for="age">Возраст:</label>
        <input class="form-control" type="number" formControlName="age" id="age" min="1" required>
      </div>
      <fieldset>
        <legend>Пол:</legend>
        <div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="gender" id="female" value="female" required>
            <label class="form-check-label" for="female">Женский</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="gender" id="male" value="male" required>
            <label class="form-check-label" for="male">Мужской</label>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Семейное положение:</legend>
        <div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="maritalStatus" id="married" value="married" required>
            <label class="form-check-label" for="married">Замужем</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="maritalStatus" id="divorced" value="divorced" required>
            <label class="form-check-label" for="divorced">Разведён</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="maritalStatus" id="was_not_married" value="was_not_married" required>
            <label class="form-check-label" for="was_not_married">Не был женат</label>
          </div>
        </div>
      </fieldset>
      <div>
        <div>Страна проживания:</div>
        <select class="form-select" formControlName="country" id="country">
          <option *ngFor="let country of countries" value="{{country.id}}">
            {{country.value}}
          </option>
        </select>
      </div>
      <div>
        <input class="btn btn-light border border-primary" type="submit" value="Регистрация">
      </div>
    </form>
  </div>
</div>
