<div class="row justify-content-center m-4">
  <div class="text-bg-light col-6 d-flex flex-column align-items-center p-3">
    <h2>Регистрация</h2>
    <h3>
      <a href="/">Questionnaire system :)</a>
    </h3>
    <form [formGroup]="registrationForm" class="d-flex flex-column align-items-center">
      <div>
        <label for="username">Имя пользователя:</label>
        <input class="mb-2" type="text" id="username" formControlName="username" placeholder="Имя пользователя" required>
      </div>
      <div>
        <label for="password">Пароль:</label>
        <input class="mb-2" type="password" id="password" formControlName="password" placeholder="Пароль" required>
      </div>
      <div>
        <label for="age">Возраст:</label>
        <input type="number" formControlName="age" id="age" min="1">
      </div>
      <fieldset>
        <legend>Пол:</legend>
        <div>
          <input type="radio" formControlName="gender" id="female" value="female">
          <label for="female">Женский</label>

          <input type="radio" formControlName="gender" id="male" value="female">
          <label for="female">Мужской</label>
        </div>
      </fieldset>
      <fieldset>
        <legend>Семейное положение:</legend>
        <div>
          <input type="radio" formControlName="maritalStatus" id="married" value="female">
          <label for="female">Замужем</label>

          <input type="radio" formControlName="maritalStatus" id="divorced" value="female">
          <label for="female">Разведён</label>

          <input type="radio" formControlName="maritalStatus" id="was_not_married" value="female">
          <label for="female">Не был женат</label>
        </div>
      </fieldset>
      <div>
        <div>Страна проживания:</div>
        <select name="country" id="country">
          <option *ngFor="let country of countries" value="{{country.id}}">
            {{country.value}}
          </option>
        </select>
      </div>
      <div>
        <input class="btn btn-light border border-primary" type="submit" value="Регистрация">
      </div>
    </form>
  </div>
</div>
