<section class="text-bg-light p-2">
  <h3 class="text-center">Популярные опросы</h3>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let questionnaire of popularQuestionnaires">
      <h4 class="text-truncate">
        <a href="/" class="stretched-link link-dark link-underline-opacity-0 link-underline-opacity-100-hover">{{questionnaire.name}}</a>
      </h4>
      <div>
        <!-- todo: добавить склонение для "голосов" -->
        <span>{{questionnaire.answeredAmount}}</span> голосов
      </div>
    </li>
  </ul>
</section>
