<div class="row justify-content-center m-4">
  <div class="text-bg-light col-6 d-flex flex-column align-items-center p-3">
    <h2>Вход</h2>
    <h3>
      <a href="/">Questionnaire system :)</a>
    </h3>
    <form [formGroup]="loginForm" class="d-flex flex-column align-items-center" (submit)="login()">
      <div>
        <input class="form-control mb-2" type="text" formControlName="username" placeholder="Имя пользователя">
      </div>
      <div>
        <input class="form-control mb-2" type="password" formControlName="password" placeholder="Пароль">
      </div>
      <div>
        <input class="btn btn-light border border-primary" type="submit" value="Вход">
      </div>
    </form>
  </div>
</div>

