<form [formGroup]="creationForm" (submit)="submitCreation()">
  <div>
    <label for="title">Название:</label>
    <input type="text" id="title" formControlName="title">
  </div>

  <div>
    <label for="question">Описание анкеты:</label>
    <textarea id="question" formControlName="question"></textarea>
  </div>

  <div>
    <label for="multiple">Можно выбрать несколько вариантов: </label>
    <input type="checkbox" formControlName="multiple" id="multiple">
  </div>

  <div>
    <div>Варианты ответов</div>
    <div *ngFor="let optionControl of this.creationForm.value.options; index as i">
      <label for="option{{i}}">{{i + 1}}:</label>
      <input type="text" id="option{{i}}" (change)="changeOptionControl(i, $event)" value="{{getValueFor(i)}}">
      <button type="button" class="btn btn-outline-danger" (click)="removeOption(i)">Убрать</button>
    </div>
    <button type="button" class="btn btn-outline-info" (click)="addOption()">Добавить вариант</button>
  </div>

  <button type="submit">Создать анкету</button>
</form>
