<form [formGroup]="creationForm" (submit)="submitCreation()">
  <div>
    <label class="form-label" for="name">Название:</label>
    <input class="form-control" type="text" id="name" formControlName="name" required>
  </div>

  <div>
    <label class="form-label" for="question">Описание анкеты:</label>
    <textarea class="form-control" id="question" formControlName="question" required></textarea>
  </div>

  <div>
    <label class="form-label" for="multiple">Можно выбрать несколько вариантов: </label>
    <input type="checkbox" formControlName="multiple" id="multiple">
  </div>

  <div class="mb-2">
    <div>Варианты ответов</div>
    <div class="d-flex mb-1" *ngFor="let optionControl of this.creationForm.value.options; index as i">
      <div class="form-floating flex-fill me-1">
        <input class="form-control mh-2" type="text" id="option{{i}}" (change)="changeOptionControl(i, $event)" value="{{getValueFor(i)}}">
        <label for="option{{i}}">Вариант {{i + 1}}</label>
      </div>
      <button type="button" class="btn btn-outline-danger" (click)="removeOption(i)">Убрать</button>
    </div>
    <button type="button" class="btn btn-outline-info" (click)="addOption()">Добавить вариант</button>
  </div>

  <button class="btn btn-outline-success me-1" type="submit">Создать анкету</button>
  <button class="btn btn-outline-danger" type="button" (click)="cancel()">Отмена</button>
</form>
