<div class="row my-4">
  <div class="col-4">
    <app-popular></app-popular>
  </div>
  <div class="col-8">
    <form class="bg-light p-2">
      <input type="text" placeholder="Заголовок опроса" #questionnaireName>
      <input type="text" placeholder="Имя автора" #authorName>
      <button type="button" (click)="acceptFilter(questionnaireName.value, authorName.name)">
        <i class="bi bi-search"></i>
      </button>
    </form>
    <ul class="mt-2 p-0">
      <li class="bg-light card p-0" *ngFor="let questionnaire of questionnaires">
        <div class="card-body">
          <h4 class="card-title text-truncate">{{questionnaire.name}}</h4>
          <p class="card-text mb-1">Автор: {{questionnaire.authorName}}</p>
          <p class="card-text mb-1">Голосов: {{questionnaire.answeredAmount}}</p>
          <a class="link-info" href="/">Посмотреть <i class="bi bi-arrow-right"></i></a>
        </div>
      </li>
    </ul>
    <div>pagination</div>
  </div>
</div>
